html,
body {
  background: transparent;
  overscroll-behavior: none;
}

@media (prefers-color-scheme: dark) {
  h1,
  h2,
  h3,
  h4,
  p {
    color: whitesmoke;
  }
}

.n-layout, .n-layout-sider {
  background-color: transparent;
  height: 100vh;
}

.n-table {
  background-color: transparent;
  border-radius: 5px;
}

.n-table th, .n-table :nth-of-type(even) td {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.n-table td, .n-data-table-td {
  background-color: rgba(255, 255, 255, 0.1);
}
