html,
body {
  background: transparent;
  overscroll-behavior: none;
}

@media (prefers-color-scheme: dark) {
  h1,
  h2,
  h3,
  h4,
  p {
    color: whitesmoke;
  }
}

.n-layout, .n-layout-sider {
  background-color: transparent;
  height: 100vh;
}